@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.header{
    font-family: 'Raleway', sans-serif;
    min-height: 50px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .headerContent{
        display: flex;
        justify-content: space-around;
        min-width: 300px;
        .options{
            .option{
                margin: 0 10px;
            }
        }
    }
    .cart{
        position: relative;
        .cartValue{
            position: absolute;
            text-align: center;
            right: -17px;
            top: -15px;
            background-color: #3c6382;
            color: #fff;
            min-width: 15px;
            min-height: 20px;
            border-radius: 5px;
        }
    }
}
